@import "../variables";

:host {
	display: block;

	.data-table-body-row {
		&-columns {
			display: flex;
			background-color: @row-background;
			margin-top: @row-spacing;
			line-height: @row-line-height;
			cursor: pointer;
			position: relative;
			box-shadow: @row-shadow;

			.column {
				user-select: none !important;
				min-width: 30px;
				overflow: hidden;
				display: flex;
				align-items: center;
				padding: 5px 0;

				&-content {
					max-height: @row-line-height * 2;
					padding-left: 10px;
					min-width: 20px !important;
				}

				&.column-selection,
				&.column-expand {
					width: 35px;
					text-align: center;
				}

				&.column-resizing {
					position: relative;

					&:after {
						content: " ";
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						border-right: 1px solid @divider-border-color;
					}
				}

				&.column-expand {
					font-family: @flaticon;
					font-size: 13px;
					font-weight: 900;
					position: relative;
					right: -12px;
					color: @text-color;

					&:hover {
						color: @base-color;
					}

					&:after {
						content: "\f100";
					}

					&.expanded {
						&:after {
							content: "\f104";
						}
					}
				}
			}

			.column-marker {
				position: absolute;
				width: 0;
				height: 0;
				border: 12px solid;
				border-right-color: transparent !important;
				border-bottom-color: transparent !important;
				user-select: none;

				& > span {
					text-transform: capitalize;
					color: @white;
					position: relative;
					top: -18px;
					left: -10px;
					font-size: 10px;
				}
			}
		}

		&-expanded {
			padding: 10px;
		}
	}

	&.row-dragging-over {
		.data-table-body-row:after {
			content: " ";
			height: @drag-container-height;
			display: block;
			background-color: @drag-container-background-color;
			margin-left: -4px;
			margin-right: 5px;
			margin-top: 4px;
			position: relative;
			left: 5px;
			border: 1px dotted @drag-container-border-color;
			border-radius: 3px;
			box-shadow: inset 0 0 5px @drag-container-border-color;
			animation: fadeIn .2s alternate;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		height: 0
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		height: 100%
	}
}
