<button (click)="allowReorderRows = !allowReorderRows">Toggle Allow Reorder!</button>
<button (click)="urlVisible = !urlVisible">Toggle Url Column!</button>

<div class="content">
    <app-data-grid [data]="data"
                   [rowsPerPage]="5"
                   [totalRecords]="5000"
                   identifierProperty="id"
                   selectionMode="multiple"
                   rowMarkField="rowMarkData"
                   [selected]="initialSelected"
                   [relocatedStyles]="{backgroundColor: 'pink'}"
                   [allowRowsReorder]="allowReorderRows"
                   [expandTemplate]="expandTemplate"
                   (onSelectionChanged)="onSelectionChanged($event)"
                   (onLoadNextPage)="onLoadNextPage($event)">
        <div>
            <grid-column field="id"
                         width="50px">
            </grid-column>
            <grid-column width="60px"
                         resizable="false"
                         [template]="columnTemplate">
                <template #columnTemplate let-rowData="rowData">
                    <img [src]="rowData.thumbnailUrl" width="60" height="60">
                </template>
            </grid-column>
            <grid-column field="title"
                         header="Title"
                         sortField="title">
            </grid-column>
            <grid-column field="url"
                         header="Url"
                         [visible]="urlVisible"
                         sortField="url">
            </grid-column>
        </div>
        <template #expandTemplate let-rowData="rowData">
            <pre>
                {{rowData|json}}
            </pre>
        </template>
    </app-data-grid>

    <!--	<app-data-grid [data]="data"
                       identifierProperty="id"
                       selectionMode="single"
                       [expandTemplate]="expandTemplate"
                       (onSelectionChanged)="onSelectionChanged($event)"
                       (onLoadNextPage)="onLoadNextPage($event)">
            <div>
                <grid-column field="name"
                             header="Name"
                             width="200px"
                             sortField="name">
                </grid-column>
                <grid-column field="email"
                             header="Email"
                             width="150px"
                             sortField="person.email">
                </grid-column>
                <grid-column field="body"
                             header="Body">
                </grid-column>
            </div>
            <template #expandTemplate
                      let-data="rowData">
                <p>This</p>
                <p>is</p>
                <p>a</p>
                <p>Test</p>
                <pre>{{data|json}}</pre>
            </template>
        </app-data-grid>-->
</div>
